.*
!.gitignore
*.egg-info
*__pycache__
*.out
meld_experiments_graph
scripts/wandb
scripts/config_files/reproducibility
dataset
data/meld_params
data/models
data/input
data/output
data/saved_models/
meld_graph/meld_license.txt
languidemedseg_meld/save_model/
meld_graph/utils/something_old
meld_graph/utils/text_generation/transform_text_modes_old.py
meld_graph/uploads/
*.hdf5
license.txt
meld_license.txt
